EEG-ReelCinemasRESTAPI/Web References/Smartbutton.MemberContact/MemberContact.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="LoyaltyPlatformWS" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="LoyaltyPlatformWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="LoyaltyPlatformWS">
      <s:element name="FetchMemberAccountPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchMemberAccountPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchMemberAccountPhoneNumberResult" type="tns:FetchMemberAccountPhoneNumberReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchMemberAccountPhoneNumberReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberFormatted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberRaw" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberExtension" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberAccountPhoneNumberIsValid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchMemberMobilePhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchMemberMobilePhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchMemberMobilePhoneNumberResult" type="tns:FetchMemberMobilePhoneNumberReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchMemberMobilePhoneNumberReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberFormatted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberRaw" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberMobileCarrierName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberMobileCarrierInternalId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberMobilePhoneNumberIsValid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchMemberPhoneNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchMemberPhoneNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchMemberPhoneNumbersResult" type="tns:FetchMemberPhoneNumbersReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchMemberPhoneNumbersReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberFormatted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberRaw" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberExtension" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberAccountPhoneNumberIsValid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberFormatted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberRaw" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberMobileCarrierName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberMobileCarrierInternalId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberMobilePhoneNumberIsValid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchMemberEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchMemberEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchMemberEmailAddressResult" type="tns:FetchMemberEmailAddressReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchMemberEmailAddressReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberEmailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberEmailAddressIsValid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchAddressCountryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchAddressCountryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchAddressCountryListResult" type="tns:FetchAddressCountryListReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchAddressCountryListReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCountryList" type="tns:ArrayOfCountryListItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCountryListItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CountryListItem" nillable="true" type="tns:CountryListItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CountryListItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CountryItemInternalId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryItemFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryItemAbbreviation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryItemRegionLabel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryItemZipLabel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CountryItemHasDefinedRegions" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchAddressRegionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryItemInternalId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchAddressRegionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchAddressRegionListResult" type="tns:FetchAddressRegionListReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchAddressRegionListReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressRegionList" type="tns:ArrayOfRegionListItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRegionListItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegionListItem" nillable="true" type="tns:RegionListItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegionListItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CountryItemInternalId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionItemInternalId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionItemFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionItemAbbreviation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveMemberEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberEmailAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberEmailAddressIsValid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMemberEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMemberEmailAddressResult" type="tns:SaveMemberEmailAddressReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SaveMemberEmailAddressReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveMemberAccountPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberExtension" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberAccountPhoneNumberIsValid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMemberAccountPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMemberAccountPhoneNumberResult" type="tns:SaveMemberAccountPhoneNumberReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SaveMemberAccountPhoneNumberReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveMemberMobilePhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberMobilePhoneNumberIsValid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMemberMobilePhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMemberMobilePhoneNumberResult" type="tns:SaveMemberMobilePhoneNumberReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SaveMemberMobilePhoneNumberReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveMemberPhoneNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberExtension" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberAccountPhoneNumberIsValid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberMobilePhoneNumberIsValid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMemberPhoneNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMemberPhoneNumbersResult" type="tns:SaveMemberPhoneNumbersReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SaveMemberPhoneNumbersReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountPhoneNumberReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MobilePhoneNumberReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchMemberPostalAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchMemberPostalAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchMemberPostalAddressResult" type="tns:FetchMemberPostalAddressReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchMemberPostalAddressReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CountryItemInternalId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryItemFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryItemAbbreviation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLineCareOf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPostalCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionItemInternalId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionItemFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionItemAbbreviation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressIsValid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchMemberContactInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchMemberContactInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchMemberContactInfoResult" type="tns:FetchMemberContactInfoReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchMemberContactInfoReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberFormatted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberRaw" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberAccountPhoneNumberExtension" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberAccountPhoneNumberIsValid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberFormatted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberMobilePhoneNumberRaw" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberMobilePhoneNumberIsValid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberEmailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberEmailAddressIsValid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CountryItemInternalId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryItemFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryItemAbbreviation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLineCareOf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressPostalCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegionItemInternalId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionItemFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionItemAbbreviation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressIsValid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveMemberPostalAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryItemInternalId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLineCareOf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressCity" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RegionItemInternalId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RegionItemFullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AddressPostalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberAddressIsValid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMemberPostalAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMemberPostalAddressResult" type="tns:SaveMemberPostalAddressReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SaveMemberPostalAddressReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchMemberAccountPhoneNumberReturn" nillable="true" type="tns:FetchMemberAccountPhoneNumberReturn" />
      <s:element name="FetchMemberMobilePhoneNumberReturn" nillable="true" type="tns:FetchMemberMobilePhoneNumberReturn" />
      <s:element name="FetchMemberPhoneNumbersReturn" nillable="true" type="tns:FetchMemberPhoneNumbersReturn" />
      <s:element name="FetchMemberEmailAddressReturn" nillable="true" type="tns:FetchMemberEmailAddressReturn" />
      <s:element name="FetchAddressCountryListReturn" nillable="true" type="tns:FetchAddressCountryListReturn" />
      <s:element name="FetchAddressRegionListReturn" nillable="true" type="tns:FetchAddressRegionListReturn" />
      <s:element name="SaveMemberEmailAddressReturn" nillable="true" type="tns:SaveMemberEmailAddressReturn" />
      <s:element name="SaveMemberAccountPhoneNumberReturn" nillable="true" type="tns:SaveMemberAccountPhoneNumberReturn" />
      <s:element name="SaveMemberMobilePhoneNumberReturn" nillable="true" type="tns:SaveMemberMobilePhoneNumberReturn" />
      <s:element name="SaveMemberPhoneNumbersReturn" nillable="true" type="tns:SaveMemberPhoneNumbersReturn" />
      <s:element name="FetchMemberPostalAddressReturn" nillable="true" type="tns:FetchMemberPostalAddressReturn" />
      <s:element name="FetchMemberContactInfoReturn" nillable="true" type="tns:FetchMemberContactInfoReturn" />
      <s:element name="SaveMemberPostalAddressReturn" nillable="true" type="tns:SaveMemberPostalAddressReturn" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchMemberAccountPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:FetchMemberAccountPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="FetchMemberAccountPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:FetchMemberAccountPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="FetchMemberMobilePhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:FetchMemberMobilePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="FetchMemberMobilePhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:FetchMemberMobilePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPhoneNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:FetchMemberPhoneNumbers" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPhoneNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:FetchMemberPhoneNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="FetchMemberEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:FetchMemberEmailAddress" />
  </wsdl:message>
  <wsdl:message name="FetchMemberEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:FetchMemberEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="FetchAddressCountryListSoapIn">
    <wsdl:part name="parameters" element="tns:FetchAddressCountryList" />
  </wsdl:message>
  <wsdl:message name="FetchAddressCountryListSoapOut">
    <wsdl:part name="parameters" element="tns:FetchAddressCountryListResponse" />
  </wsdl:message>
  <wsdl:message name="FetchAddressRegionListSoapIn">
    <wsdl:part name="parameters" element="tns:FetchAddressRegionList" />
  </wsdl:message>
  <wsdl:message name="FetchAddressRegionListSoapOut">
    <wsdl:part name="parameters" element="tns:FetchAddressRegionListResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMemberEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMemberEmailAddress" />
  </wsdl:message>
  <wsdl:message name="SaveMemberEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMemberEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMemberAccountPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMemberAccountPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="SaveMemberAccountPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMemberAccountPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMemberMobilePhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMemberMobilePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="SaveMemberMobilePhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMemberMobilePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPhoneNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMemberPhoneNumbers" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPhoneNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMemberPhoneNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPostalAddressSoapIn">
    <wsdl:part name="parameters" element="tns:FetchMemberPostalAddress" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPostalAddressSoapOut">
    <wsdl:part name="parameters" element="tns:FetchMemberPostalAddressResponse" />
  </wsdl:message>
  <wsdl:message name="FetchMemberContactInfoSoapIn">
    <wsdl:part name="parameters" element="tns:FetchMemberContactInfo" />
  </wsdl:message>
  <wsdl:message name="FetchMemberContactInfoSoapOut">
    <wsdl:part name="parameters" element="tns:FetchMemberContactInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPostalAddressSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMemberPostalAddress" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPostalAddressSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMemberPostalAddressResponse" />
  </wsdl:message>
  <wsdl:message name="FetchMemberAccountPhoneNumberHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberAccountPhoneNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:FetchMemberAccountPhoneNumberReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberMobilePhoneNumberHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberMobilePhoneNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:FetchMemberMobilePhoneNumberReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPhoneNumbersHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPhoneNumbersHttpGetOut">
    <wsdl:part name="Body" element="tns:FetchMemberPhoneNumbersReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberEmailAddressHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberEmailAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:FetchMemberEmailAddressReturn" />
  </wsdl:message>
  <wsdl:message name="FetchAddressCountryListHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchAddressCountryListHttpGetOut">
    <wsdl:part name="Body" element="tns:FetchAddressCountryListReturn" />
  </wsdl:message>
  <wsdl:message name="FetchAddressRegionListHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="CountryItemInternalId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchAddressRegionListHttpGetOut">
    <wsdl:part name="Body" element="tns:FetchAddressRegionListReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberEmailAddressHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberEmailAddress" type="s:string" />
    <wsdl:part name="MemberEmailAddressIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberEmailAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:SaveMemberEmailAddressReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberAccountPhoneNumberHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumber" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumberExtension" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumberIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberAccountPhoneNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:SaveMemberAccountPhoneNumberReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberMobilePhoneNumberHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberMobilePhoneNumber" type="s:string" />
    <wsdl:part name="MemberMobilePhoneNumberIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberMobilePhoneNumberHttpGetOut">
    <wsdl:part name="Body" element="tns:SaveMemberMobilePhoneNumberReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPhoneNumbersHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumber" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumberExtension" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumberIsValid" type="s:string" />
    <wsdl:part name="MemberMobilePhoneNumber" type="s:string" />
    <wsdl:part name="MemberMobilePhoneNumberIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPhoneNumbersHttpGetOut">
    <wsdl:part name="Body" element="tns:SaveMemberPhoneNumbersReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPostalAddressHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPostalAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:FetchMemberPostalAddressReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberContactInfoHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberContactInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:FetchMemberContactInfoReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPostalAddressHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="CountryItemInternalId" type="s:string" />
    <wsdl:part name="AddressLineCareOf" type="s:string" />
    <wsdl:part name="AddressLine1" type="s:string" />
    <wsdl:part name="AddressLine2" type="s:string" />
    <wsdl:part name="AddressCity" type="s:string" />
    <wsdl:part name="RegionItemInternalId" type="s:string" />
    <wsdl:part name="RegionItemFullName" type="s:string" />
    <wsdl:part name="AddressPostalCode" type="s:string" />
    <wsdl:part name="MemberAddressIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPostalAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:SaveMemberPostalAddressReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberAccountPhoneNumberHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberAccountPhoneNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:FetchMemberAccountPhoneNumberReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberMobilePhoneNumberHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberMobilePhoneNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:FetchMemberMobilePhoneNumberReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPhoneNumbersHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPhoneNumbersHttpPostOut">
    <wsdl:part name="Body" element="tns:FetchMemberPhoneNumbersReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberEmailAddressHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberEmailAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:FetchMemberEmailAddressReturn" />
  </wsdl:message>
  <wsdl:message name="FetchAddressCountryListHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchAddressCountryListHttpPostOut">
    <wsdl:part name="Body" element="tns:FetchAddressCountryListReturn" />
  </wsdl:message>
  <wsdl:message name="FetchAddressRegionListHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="CountryItemInternalId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchAddressRegionListHttpPostOut">
    <wsdl:part name="Body" element="tns:FetchAddressRegionListReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberEmailAddressHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberEmailAddress" type="s:string" />
    <wsdl:part name="MemberEmailAddressIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberEmailAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:SaveMemberEmailAddressReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberAccountPhoneNumberHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumber" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumberExtension" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumberIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberAccountPhoneNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:SaveMemberAccountPhoneNumberReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberMobilePhoneNumberHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberMobilePhoneNumber" type="s:string" />
    <wsdl:part name="MemberMobilePhoneNumberIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberMobilePhoneNumberHttpPostOut">
    <wsdl:part name="Body" element="tns:SaveMemberMobilePhoneNumberReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPhoneNumbersHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumber" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumberExtension" type="s:string" />
    <wsdl:part name="MemberAccountPhoneNumberIsValid" type="s:string" />
    <wsdl:part name="MemberMobilePhoneNumber" type="s:string" />
    <wsdl:part name="MemberMobilePhoneNumberIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPhoneNumbersHttpPostOut">
    <wsdl:part name="Body" element="tns:SaveMemberPhoneNumbersReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPostalAddressHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberPostalAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:FetchMemberPostalAddressReturn" />
  </wsdl:message>
  <wsdl:message name="FetchMemberContactInfoHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FetchMemberContactInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:FetchMemberContactInfoReturn" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPostalAddressHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="CountryItemInternalId" type="s:string" />
    <wsdl:part name="AddressLineCareOf" type="s:string" />
    <wsdl:part name="AddressLine1" type="s:string" />
    <wsdl:part name="AddressLine2" type="s:string" />
    <wsdl:part name="AddressCity" type="s:string" />
    <wsdl:part name="RegionItemInternalId" type="s:string" />
    <wsdl:part name="RegionItemFullName" type="s:string" />
    <wsdl:part name="AddressPostalCode" type="s:string" />
    <wsdl:part name="MemberAddressIsValid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaveMemberPostalAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:SaveMemberPostalAddressReturn" />
  </wsdl:message>
  <wsdl:portType name="MemberContactSoap">
    <wsdl:operation name="FetchMemberAccountPhoneNumber">
      <wsdl:input message="tns:FetchMemberAccountPhoneNumberSoapIn" />
      <wsdl:output message="tns:FetchMemberAccountPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberMobilePhoneNumber">
      <wsdl:input message="tns:FetchMemberMobilePhoneNumberSoapIn" />
      <wsdl:output message="tns:FetchMemberMobilePhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPhoneNumbers">
      <wsdl:input message="tns:FetchMemberPhoneNumbersSoapIn" />
      <wsdl:output message="tns:FetchMemberPhoneNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberEmailAddress">
      <wsdl:input message="tns:FetchMemberEmailAddressSoapIn" />
      <wsdl:output message="tns:FetchMemberEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAddressCountryList">
      <wsdl:input message="tns:FetchAddressCountryListSoapIn" />
      <wsdl:output message="tns:FetchAddressCountryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAddressRegionList">
      <wsdl:input message="tns:FetchAddressRegionListSoapIn" />
      <wsdl:output message="tns:FetchAddressRegionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberEmailAddress">
      <wsdl:input message="tns:SaveMemberEmailAddressSoapIn" />
      <wsdl:output message="tns:SaveMemberEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberAccountPhoneNumber">
      <wsdl:input message="tns:SaveMemberAccountPhoneNumberSoapIn" />
      <wsdl:output message="tns:SaveMemberAccountPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberMobilePhoneNumber">
      <wsdl:input message="tns:SaveMemberMobilePhoneNumberSoapIn" />
      <wsdl:output message="tns:SaveMemberMobilePhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPhoneNumbers">
      <wsdl:input message="tns:SaveMemberPhoneNumbersSoapIn" />
      <wsdl:output message="tns:SaveMemberPhoneNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPostalAddress">
      <wsdl:input message="tns:FetchMemberPostalAddressSoapIn" />
      <wsdl:output message="tns:FetchMemberPostalAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberContactInfo">
      <wsdl:input message="tns:FetchMemberContactInfoSoapIn" />
      <wsdl:output message="tns:FetchMemberContactInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPostalAddress">
      <wsdl:input message="tns:SaveMemberPostalAddressSoapIn" />
      <wsdl:output message="tns:SaveMemberPostalAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemberContactHttpGet">
    <wsdl:operation name="FetchMemberAccountPhoneNumber">
      <wsdl:input message="tns:FetchMemberAccountPhoneNumberHttpGetIn" />
      <wsdl:output message="tns:FetchMemberAccountPhoneNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberMobilePhoneNumber">
      <wsdl:input message="tns:FetchMemberMobilePhoneNumberHttpGetIn" />
      <wsdl:output message="tns:FetchMemberMobilePhoneNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPhoneNumbers">
      <wsdl:input message="tns:FetchMemberPhoneNumbersHttpGetIn" />
      <wsdl:output message="tns:FetchMemberPhoneNumbersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberEmailAddress">
      <wsdl:input message="tns:FetchMemberEmailAddressHttpGetIn" />
      <wsdl:output message="tns:FetchMemberEmailAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAddressCountryList">
      <wsdl:input message="tns:FetchAddressCountryListHttpGetIn" />
      <wsdl:output message="tns:FetchAddressCountryListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAddressRegionList">
      <wsdl:input message="tns:FetchAddressRegionListHttpGetIn" />
      <wsdl:output message="tns:FetchAddressRegionListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberEmailAddress">
      <wsdl:input message="tns:SaveMemberEmailAddressHttpGetIn" />
      <wsdl:output message="tns:SaveMemberEmailAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberAccountPhoneNumber">
      <wsdl:input message="tns:SaveMemberAccountPhoneNumberHttpGetIn" />
      <wsdl:output message="tns:SaveMemberAccountPhoneNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberMobilePhoneNumber">
      <wsdl:input message="tns:SaveMemberMobilePhoneNumberHttpGetIn" />
      <wsdl:output message="tns:SaveMemberMobilePhoneNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPhoneNumbers">
      <wsdl:input message="tns:SaveMemberPhoneNumbersHttpGetIn" />
      <wsdl:output message="tns:SaveMemberPhoneNumbersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPostalAddress">
      <wsdl:input message="tns:FetchMemberPostalAddressHttpGetIn" />
      <wsdl:output message="tns:FetchMemberPostalAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberContactInfo">
      <wsdl:input message="tns:FetchMemberContactInfoHttpGetIn" />
      <wsdl:output message="tns:FetchMemberContactInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPostalAddress">
      <wsdl:input message="tns:SaveMemberPostalAddressHttpGetIn" />
      <wsdl:output message="tns:SaveMemberPostalAddressHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemberContactHttpPost">
    <wsdl:operation name="FetchMemberAccountPhoneNumber">
      <wsdl:input message="tns:FetchMemberAccountPhoneNumberHttpPostIn" />
      <wsdl:output message="tns:FetchMemberAccountPhoneNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberMobilePhoneNumber">
      <wsdl:input message="tns:FetchMemberMobilePhoneNumberHttpPostIn" />
      <wsdl:output message="tns:FetchMemberMobilePhoneNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPhoneNumbers">
      <wsdl:input message="tns:FetchMemberPhoneNumbersHttpPostIn" />
      <wsdl:output message="tns:FetchMemberPhoneNumbersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberEmailAddress">
      <wsdl:input message="tns:FetchMemberEmailAddressHttpPostIn" />
      <wsdl:output message="tns:FetchMemberEmailAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAddressCountryList">
      <wsdl:input message="tns:FetchAddressCountryListHttpPostIn" />
      <wsdl:output message="tns:FetchAddressCountryListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAddressRegionList">
      <wsdl:input message="tns:FetchAddressRegionListHttpPostIn" />
      <wsdl:output message="tns:FetchAddressRegionListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberEmailAddress">
      <wsdl:input message="tns:SaveMemberEmailAddressHttpPostIn" />
      <wsdl:output message="tns:SaveMemberEmailAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberAccountPhoneNumber">
      <wsdl:input message="tns:SaveMemberAccountPhoneNumberHttpPostIn" />
      <wsdl:output message="tns:SaveMemberAccountPhoneNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberMobilePhoneNumber">
      <wsdl:input message="tns:SaveMemberMobilePhoneNumberHttpPostIn" />
      <wsdl:output message="tns:SaveMemberMobilePhoneNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPhoneNumbers">
      <wsdl:input message="tns:SaveMemberPhoneNumbersHttpPostIn" />
      <wsdl:output message="tns:SaveMemberPhoneNumbersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPostalAddress">
      <wsdl:input message="tns:FetchMemberPostalAddressHttpPostIn" />
      <wsdl:output message="tns:FetchMemberPostalAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchMemberContactInfo">
      <wsdl:input message="tns:FetchMemberContactInfoHttpPostIn" />
      <wsdl:output message="tns:FetchMemberContactInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPostalAddress">
      <wsdl:input message="tns:SaveMemberPostalAddressHttpPostIn" />
      <wsdl:output message="tns:SaveMemberPostalAddressHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberContactSoap" type="tns:MemberContactSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchMemberAccountPhoneNumber">
      <soap:operation soapAction="LoyaltyPlatformWS/FetchMemberAccountPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberMobilePhoneNumber">
      <soap:operation soapAction="LoyaltyPlatformWS/FetchMemberMobilePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPhoneNumbers">
      <soap:operation soapAction="LoyaltyPlatformWS/FetchMemberPhoneNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberEmailAddress">
      <soap:operation soapAction="LoyaltyPlatformWS/FetchMemberEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAddressCountryList">
      <soap:operation soapAction="LoyaltyPlatformWS/FetchAddressCountryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAddressRegionList">
      <soap:operation soapAction="LoyaltyPlatformWS/FetchAddressRegionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberEmailAddress">
      <soap:operation soapAction="LoyaltyPlatformWS/SaveMemberEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberAccountPhoneNumber">
      <soap:operation soapAction="LoyaltyPlatformWS/SaveMemberAccountPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberMobilePhoneNumber">
      <soap:operation soapAction="LoyaltyPlatformWS/SaveMemberMobilePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPhoneNumbers">
      <soap:operation soapAction="LoyaltyPlatformWS/SaveMemberPhoneNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPostalAddress">
      <soap:operation soapAction="LoyaltyPlatformWS/FetchMemberPostalAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberContactInfo">
      <soap:operation soapAction="LoyaltyPlatformWS/FetchMemberContactInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPostalAddress">
      <soap:operation soapAction="LoyaltyPlatformWS/SaveMemberPostalAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberContactSoap12" type="tns:MemberContactSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchMemberAccountPhoneNumber">
      <soap12:operation soapAction="LoyaltyPlatformWS/FetchMemberAccountPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberMobilePhoneNumber">
      <soap12:operation soapAction="LoyaltyPlatformWS/FetchMemberMobilePhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPhoneNumbers">
      <soap12:operation soapAction="LoyaltyPlatformWS/FetchMemberPhoneNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberEmailAddress">
      <soap12:operation soapAction="LoyaltyPlatformWS/FetchMemberEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAddressCountryList">
      <soap12:operation soapAction="LoyaltyPlatformWS/FetchAddressCountryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAddressRegionList">
      <soap12:operation soapAction="LoyaltyPlatformWS/FetchAddressRegionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberEmailAddress">
      <soap12:operation soapAction="LoyaltyPlatformWS/SaveMemberEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberAccountPhoneNumber">
      <soap12:operation soapAction="LoyaltyPlatformWS/SaveMemberAccountPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberMobilePhoneNumber">
      <soap12:operation soapAction="LoyaltyPlatformWS/SaveMemberMobilePhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPhoneNumbers">
      <soap12:operation soapAction="LoyaltyPlatformWS/SaveMemberPhoneNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPostalAddress">
      <soap12:operation soapAction="LoyaltyPlatformWS/FetchMemberPostalAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberContactInfo">
      <soap12:operation soapAction="LoyaltyPlatformWS/FetchMemberContactInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPostalAddress">
      <soap12:operation soapAction="LoyaltyPlatformWS/SaveMemberPostalAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberContactHttpGet" type="tns:MemberContactHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="FetchMemberAccountPhoneNumber">
      <http:operation location="/FetchMemberAccountPhoneNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberMobilePhoneNumber">
      <http:operation location="/FetchMemberMobilePhoneNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPhoneNumbers">
      <http:operation location="/FetchMemberPhoneNumbers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberEmailAddress">
      <http:operation location="/FetchMemberEmailAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAddressCountryList">
      <http:operation location="/FetchAddressCountryList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAddressRegionList">
      <http:operation location="/FetchAddressRegionList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberEmailAddress">
      <http:operation location="/SaveMemberEmailAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberAccountPhoneNumber">
      <http:operation location="/SaveMemberAccountPhoneNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberMobilePhoneNumber">
      <http:operation location="/SaveMemberMobilePhoneNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPhoneNumbers">
      <http:operation location="/SaveMemberPhoneNumbers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPostalAddress">
      <http:operation location="/FetchMemberPostalAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberContactInfo">
      <http:operation location="/FetchMemberContactInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPostalAddress">
      <http:operation location="/SaveMemberPostalAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberContactHttpPost" type="tns:MemberContactHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="FetchMemberAccountPhoneNumber">
      <http:operation location="/FetchMemberAccountPhoneNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberMobilePhoneNumber">
      <http:operation location="/FetchMemberMobilePhoneNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPhoneNumbers">
      <http:operation location="/FetchMemberPhoneNumbers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberEmailAddress">
      <http:operation location="/FetchMemberEmailAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAddressCountryList">
      <http:operation location="/FetchAddressCountryList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAddressRegionList">
      <http:operation location="/FetchAddressRegionList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberEmailAddress">
      <http:operation location="/SaveMemberEmailAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberAccountPhoneNumber">
      <http:operation location="/SaveMemberAccountPhoneNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberMobilePhoneNumber">
      <http:operation location="/SaveMemberMobilePhoneNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPhoneNumbers">
      <http:operation location="/SaveMemberPhoneNumbers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberPostalAddress">
      <http:operation location="/FetchMemberPostalAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchMemberContactInfo">
      <http:operation location="/FetchMemberContactInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMemberPostalAddress">
      <http:operation location="/SaveMemberPostalAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberContact">
    <wsdl:port name="MemberContactSoap" binding="tns:MemberContactSoap">
      <soap:address location="https://ca.smartbutton.com/WS/MemberContact.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberContactSoap12" binding="tns:MemberContactSoap12">
      <soap12:address location="https://ca.smartbutton.com/WS/MemberContact.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberContactHttpGet" binding="tns:MemberContactHttpGet">
      <http:address location="https://ca.smartbutton.com/WS/MemberContact.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberContactHttpPost" binding="tns:MemberContactHttpPost">
      <http:address location="https://ca.smartbutton.com/WS/MemberContact.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>