EEG-ReelCinemasRESTAPI/Connected Services/UByEmaar/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ergbldirnkstg/LMSConnectorService_v5/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetMemberDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="memberDetailsRequest" nillable="true" type="q1:MemberDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetMemberDetailsResult" nillable="true" type="q2:MemberDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EarnPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EarnPointsRequestObject" nillable="true" type="q3:EarnPointsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EarnPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EarnPointsResult" nillable="true" type="q4:EarnPointsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BlockPointsRequestObject" nillable="true" type="q5:BlockPointsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BlockPointsResult" nillable="true" type="q6:BlockPointsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetPointsRequestObject" nillable="true" type="q7:GetPointsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetPointsResult" nillable="true" type="q8:GetPointsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedeemPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="RedeemPointsRequestObject" nillable="true" type="q9:RedeemPointsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedeemPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="RedeemPointsResult" nillable="true" type="q10:RedeemPointsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBlockedPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="cancelBlockedPoints" nillable="true" type="q11:CancelBlockedPointsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBlockedPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CancelBlockedPointsResult" nillable="true" type="q12:CancelBlockedPointsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExternalLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="loginRequestObject" nillable="true" type="q13:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExternalLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ExternalLoginResult" nillable="true" type="q14:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="updateLoyaltyProfileRequestObject" nillable="true" type="q15:UpdateLoyaltyProfileRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateProfileResult" nillable="true" type="q16:UpdateLoyaltyProfileResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="QuickRegisterRequestObject" nillable="true" type="q17:QuickRegisterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="QuickRegisterResult" nillable="true" type="q18:QuickRegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdjustPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="PointAdjustmentRequestObject" nillable="true" type="q19:PointAdjustmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdjustPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AdjustPointsResult" nillable="true" type="q20:PointAdjustmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sendOTPRequest" nillable="true" type="q21:SendOTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SendOTPResult" nillable="true" type="q22:SendOTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="validateOTPRequest" nillable="true" type="q23:ValidateOTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ValidateOTPResult" nillable="true" type="q24:ValidateOTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getTierRequest" nillable="true" type="q25:GetTierRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTierInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTierInfoResult" nillable="true" type="q26:GetTierResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>