EEG-ReelCinemasRESTAPI/Connected Services/UByEmaar/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ergbldirnkstg/LMSConnectorService_v5/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ergbldirnkstg/LMSConnectorService_v5/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ergbldirnkstg/LMSConnectorService_v5/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetMemberDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberDetails" />
  </wsdl:message>
  <wsdl:message name="IService_GetMemberDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EarnPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:EarnPoints" />
  </wsdl:message>
  <wsdl:message name="IService_EarnPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:EarnPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BlockPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:BlockPoints" />
  </wsdl:message>
  <wsdl:message name="IService_BlockPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlockPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPoints" />
  </wsdl:message>
  <wsdl:message name="IService_GetPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RedeemPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:RedeemPoints" />
  </wsdl:message>
  <wsdl:message name="IService_RedeemPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedeemPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CancelBlockedPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelBlockedPoints" />
  </wsdl:message>
  <wsdl:message name="IService_CancelBlockedPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelBlockedPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ExternalLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ExternalLogin" />
  </wsdl:message>
  <wsdl:message name="IService_ExternalLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExternalLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_QuickRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:QuickRegister" />
  </wsdl:message>
  <wsdl:message name="IService_QuickRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuickRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AdjustPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:AdjustPoints" />
  </wsdl:message>
  <wsdl:message name="IService_AdjustPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdjustPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOTP" />
  </wsdl:message>
  <wsdl:message name="IService_SendOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOTPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ValidateOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateOTP" />
  </wsdl:message>
  <wsdl:message name="IService_ValidateOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateOTPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTierInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTierInfo" />
  </wsdl:message>
  <wsdl:message name="IService_GetTierInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTierInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetMemberDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMemberDetails" message="tns:IService_GetMemberDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMemberDetailsResponse" message="tns:IService_GetMemberDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EarnPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EarnPoints" message="tns:IService_EarnPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EarnPointsResponse" message="tns:IService_EarnPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BlockPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BlockPoints" message="tns:IService_BlockPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BlockPointsResponse" message="tns:IService_BlockPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPoints" message="tns:IService_GetPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPointsResponse" message="tns:IService_GetPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RedeemPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RedeemPoints" message="tns:IService_RedeemPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RedeemPointsResponse" message="tns:IService_RedeemPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelBlockedPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CancelBlockedPoints" message="tns:IService_CancelBlockedPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CancelBlockedPointsResponse" message="tns:IService_CancelBlockedPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExternalLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ExternalLogin" message="tns:IService_ExternalLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ExternalLoginResponse" message="tns:IService_ExternalLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateProfile" message="tns:IService_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateProfileResponse" message="tns:IService_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuickRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/QuickRegister" message="tns:IService_QuickRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/QuickRegisterResponse" message="tns:IService_QuickRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdjustPoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AdjustPoints" message="tns:IService_AdjustPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AdjustPointsResponse" message="tns:IService_AdjustPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendOTP" message="tns:IService_SendOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendOTPResponse" message="tns:IService_SendOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ValidateOTP" message="tns:IService_ValidateOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ValidateOTPResponse" message="tns:IService_ValidateOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTierInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTierInfo" message="tns:IService_GetTierInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTierInfoResponse" message="tns:IService_GetTierInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMemberDetails">
      <soap:operation soapAction="http://tempuri.org/IService/GetMemberDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EarnPoints">
      <soap:operation soapAction="http://tempuri.org/IService/EarnPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlockPoints">
      <soap:operation soapAction="http://tempuri.org/IService/BlockPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPoints">
      <soap:operation soapAction="http://tempuri.org/IService/GetPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemPoints">
      <soap:operation soapAction="http://tempuri.org/IService/RedeemPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelBlockedPoints">
      <soap:operation soapAction="http://tempuri.org/IService/CancelBlockedPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExternalLogin">
      <soap:operation soapAction="http://tempuri.org/IService/ExternalLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickRegister">
      <soap:operation soapAction="http://tempuri.org/IService/QuickRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdjustPoints">
      <soap:operation soapAction="http://tempuri.org/IService/AdjustPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOTP">
      <soap:operation soapAction="http://tempuri.org/IService/SendOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateOTP">
      <soap:operation soapAction="http://tempuri.org/IService/ValidateOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTierInfo">
      <soap:operation soapAction="http://tempuri.org/IService/GetTierInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://ergbldirnkstg/LMSConnectorService_v5/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>