EEG-ReelCinemasRESTAPI/Web References/Smartbutton.Reward/Reward.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://app.smartbutton.com/Services/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://app.smartbutton.com/Services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://app.smartbutton.com/Services/">
      <s:import namespace="https://app.smartbutton.com/Services/dsMemberRewards.xsd" />
      <s:import namespace="https://app.smartbutton.com/Services/dsMemberPendingRewards.xsd" />
      <s:import namespace="https://app.smartbutton.com/Services/dsRewardReverseRedemptionResults.xsd" />
      <s:import namespace="http://tempuri.org/dsMemberRewardsExt.xsd" />
      <s:import schemaLocation="https://ca.smartbutton.com/Services/Reward.asmx?schema=dsMemberRewardsExt" namespace="http://tempuri.org/dsMemberRewardsExt.xsd" />
      <s:import schemaLocation="https://ca.smartbutton.com/Services/Reward.asmx?schema=dsMemberRewards" namespace="https://app.smartbutton.com/Services/dsMemberRewards.xsd" />
      <s:import schemaLocation="https://ca.smartbutton.com/Services/Reward.asmx?schema=dsMemberPendingRewards" namespace="https://app.smartbutton.com/Services/dsMemberPendingRewards.xsd" />
      <s:import schemaLocation="https://ca.smartbutton.com/Services/Reward.asmx?schema=dsRewardReverseRedemptionResults" namespace="https://app.smartbutton.com/Services/dsRewardReverseRedemptionResults.xsd" />
      <s:element name="RedeemIssuedReward">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqRedeemIssuedReward" type="tns:reqRedeemIssuedReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqRedeemIssuedReward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RedemptionLocationExternalReference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RedeemIssuedRewardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedeemIssuedRewardResult" type="tns:respRedeemIssuedReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respRedeemIssuedReward">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RedeemIssuedRewardExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqRedeemIssuedRewardExt" type="tns:reqRedeemIssuedRewardExt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqRedeemIssuedRewardExt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RedemptionLocationExternalReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedemptionNote" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RedeemIssuedRewardExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedeemIssuedRewardExtResult" type="tns:respRedeemIssuedReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseRewardRedemption">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqReverseRewardRedemption" type="tns:reqReverseRewardRedemption" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqReverseRewardRedemption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseRewardRedemptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseRewardRedemptionResult" type="tns:respReverseRewardRedemption" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respReverseRewardRedemption">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelIssuedReward">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqCancelIssuedReward" type="tns:reqCancelIssuedReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqCancelIssuedReward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelIssuedRewardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelIssuedRewardResult" type="tns:respCancelIssuedReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respCancelIssuedReward">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelIssuedRewardExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqCancelIssuedRewardExt" type="tns:reqCancelIssuedRewardExt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqCancelIssuedRewardExt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelIssuedRewardExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelIssuedRewardExtResult" type="tns:respCancelIssuedReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetIssuedRewardStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqRetIssuedRewardStatus" type="tns:reqRetIssuedRewardStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqRetIssuedRewardStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetIssuedRewardStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetIssuedRewardStatusResult" type="tns:respRetIssuedRewardStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respRetIssuedRewardStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Redeemed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cancelled" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Pending" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardExternalReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardPointCost" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardPointDeductibleAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardValue" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetIssuedRewardStatusExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqRetIssuedRewardStatusExt" type="tns:reqRetIssuedRewardStatusExt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqRetIssuedRewardStatusExt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetIssuedRewardStatusExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetIssuedRewardStatusExtResult" type="tns:respRetIssuedRewardStatusExt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respRetIssuedRewardStatusExt">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Redeemed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cancelled" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Expired" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Pending" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardExternalReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardPointCost" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardPointDeductibleAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardValue" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintedTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CancelledTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CancelledBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemedTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemedAtLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpiredTimestamp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetIssuedRewardDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqRetIssuedRewardDetails" type="tns:reqRetIssuedRewardDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqRetIssuedRewardDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetIssuedRewardDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetIssuedRewardDetailsResult" type="tns:respRetIssuedRewardDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respRetIssuedRewardDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LoyaltyProgramName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardExternalReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardPointCost" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardPointDeductibleAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardValue" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="IssuedDevice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssuedLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssuedToMemberName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssuedToMemberPrimaryCardId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IssuedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintedTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintedAtDevice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cancelled" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CancelledTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CancelledBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Redeemed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemedTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemedAtLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Pending" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpiredTimestamp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateVariableRewardAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqValidateVariableRewardAmount" type="tns:reqValidateVariableRewardAmount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqValidateVariableRewardAmount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeExternalReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationExternalReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DollarAmountToRedeem" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateVariableRewardAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateVariableRewardAmountResult" type="tns:respValidateVariableRewardAmount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respValidateVariableRewardAmount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VariableRewardPointCost" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberPointsAvailable" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateRewardExternalReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqValidateRewardExternalReference" type="tns:reqValidateRewardExternalReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqValidateRewardExternalReference">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeExternalReference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateRewardExternalReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateRewardExternalReferenceResult" type="tns:respValidateRewardExternalReference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respValidateRewardExternalReference">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IssueVariableReward">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqIssueVariableReward" type="tns:reqIssueVariableReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqIssueVariableReward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeExternalReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationExternalReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DollarAmountToRedeem" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="IssueVariableRewardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IssueVariableRewardResult" type="tns:respIssueVariableReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respIssueVariableReward">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VariableRewardPointCost" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="IssueChoiceReward">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqIssueChoiceReward" type="tns:reqIssueChoiceReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqIssueChoiceReward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeExternalReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationExternalReference" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IssueChoiceRewardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IssueChoiceRewardResult" type="tns:respIssueChoiceReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respIssueChoiceReward">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="MemberIssuedRewards">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LoyaltyProgramId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberIssuedRewardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewardsResult" type="tns:respMemberIssuedRewards" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respMemberIssuedRewards">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewards">
            <s:complexType>
              <s:sequence>
                <s:any namespace="https://app.smartbutton.com/Services/dsMemberRewards.xsd" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="MemberPendingRewards">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberPendingRewardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberPendingRewardsResult" type="tns:respMemberPendingRewards" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respMemberPendingRewards">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberPendingRewards">
            <s:complexType>
              <s:sequence>
                <s:any namespace="https://app.smartbutton.com/Services/dsMemberPendingRewards.xsd" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="RedeemPendingReward">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqRedeemPendingReward" type="tns:reqRedeemPendingReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqRedeemPendingReward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberRewardId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RedemptionLocationExternalRef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RedeemPendingRewardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedeemPendingRewardResult" type="tns:respRedeemPendingReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respRedeemPendingReward">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberRewardId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintedTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpireTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberRewardBarcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardRetailValue" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseRewardRedemptionToPending">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqReverseRewardRedemptionToPending" type="tns:reqReverseRewardRedemptionToPending" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqReverseRewardRedemptionToPending">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseRewardRedemptionToPendingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseRewardRedemptionToPendingResult" type="tns:respReverseRewardRedemptionToPending" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respReverseRewardRedemptionToPending">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseRewardRedemptionsToPending">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqReverseRewardRedemptionsToPending" type="tns:reqReverseRewardRedemptionsToPending" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqReverseRewardRedemptionsToPending">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewardId" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseRewardRedemptionsToPendingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseRewardRedemptionsToPendingResult" type="tns:respReverseRewardRedemptionsToPending" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respReverseRewardRedemptionsToPending">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results">
            <s:complexType>
              <s:sequence>
                <s:any namespace="https://app.smartbutton.com/Services/dsRewardReverseRedemptionResults.xsd" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="IssueChoiceRewardAsPending">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqIssueChoiceReward" type="tns:reqIssueChoiceReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IssueChoiceRewardAsPendingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IssueChoiceRewardAsPendingResult" type="tns:respIssueChoiceReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickupPendingReward">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqPickupPendingReward" type="tns:reqPickupPendingReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reqPickupPendingReward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PickupPendingRewardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickupPendingRewardResult" type="tns:respPickupPendingReward" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respPickupPendingReward">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberRewardId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintedTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpireTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberRewardBarcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardRetailValue" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="MemberPendingRewardsSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberPendingRewardsSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberPendingRewardsSetResult" type="tns:respMemberPendingRewardsSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respMemberPendingRewardsSet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PendingRewardsSet" type="tns:ArrayOfMemberPendingRewardsSetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMemberPendingRewardsSetItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MemberPendingRewardsSetItem" nillable="true" type="tns:MemberPendingRewardsSetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MemberPendingRewardsSetItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LoyaltyProgramId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberRewardId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UTCIssueTimestamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpireTimestamp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EligibleAtPointOfSale" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PointOfSaleDiscountType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PointOfSaleTenderType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeExternalRef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseRewardRedemptionsToPendingSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="preqReverseRewardRedemptionsToPending" type="tns:reqReverseRewardRedemptionsToPending" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseRewardRedemptionsToPendingSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseRewardRedemptionsToPendingSetResult" type="tns:respReverseRewardRedemptionsToPendingSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respReverseRewardRedemptionsToPendingSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfReverseRewardRedemptionsToPendingSetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReverseRewardRedemptionsToPendingSetItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReverseRewardRedemptionsToPendingSetItem" nillable="true" type="tns:ReverseRewardRedemptionsToPendingSetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReverseRewardRedemptionsToPendingSetItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberIssuedRewardId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="MemberIssuedRewardsSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LoyaltyProgramId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberIssuedRewardsSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewardsSetResult" type="tns:respMemberIssuedRewardsSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respMemberIssuedRewardsSet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewards" type="tns:ArrayOfMemberIssuedRewardsSetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMemberIssuedRewardsSetItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MemberIssuedRewardsSetItem" nillable="true" type="tns:MemberIssuedRewardsSetItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MemberIssuedRewardsSetItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RewardId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeExternalRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardPointValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardValue" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemLocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpireTimestamp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MemberIssuedRewardsExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LoyaltyProgramId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberIssuedRewardsExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewardsExtResult" type="tns:respMemberIssuedRewardsExt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respMemberIssuedRewardsExt">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewards">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://tempuri.org/dsMemberRewardsExt.xsd" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="MemberIssuedRewardsSetExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LoyaltyProgramId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberIssuedRewardsSetExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewardsSetExtResult" type="tns:respMemberIssuedRewardsSetExt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="respMemberIssuedRewardsSetExt">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberIssuedRewards" type="tns:ArrayOfMemberIssuedRewardsSetItemExt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMemberIssuedRewardsSetItemExt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MemberIssuedRewardsSetItemExt" nillable="true" type="tns:MemberIssuedRewardsSetItemExt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MemberIssuedRewardsSetItemExt">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RewardId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardTypeExternalRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardPointValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RewardValue" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="IssueTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedeemLocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpireTimestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardBarcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RewardPIN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="respMemberIssuedRewards" nillable="true" type="tns:respMemberIssuedRewards" />
      <s:element name="respMemberPendingRewards" nillable="true" type="tns:respMemberPendingRewards" />
      <s:element name="respMemberPendingRewardsSet" nillable="true" type="tns:respMemberPendingRewardsSet" />
      <s:element name="respMemberIssuedRewardsSet" nillable="true" type="tns:respMemberIssuedRewardsSet" />
      <s:element name="respMemberIssuedRewardsExt" nillable="true" type="tns:respMemberIssuedRewardsExt" />
      <s:element name="respMemberIssuedRewardsSetExt" nillable="true" type="tns:respMemberIssuedRewardsSetExt" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RedeemIssuedRewardSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemIssuedReward" />
  </wsdl:message>
  <wsdl:message name="RedeemIssuedRewardSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemIssuedRewardResponse" />
  </wsdl:message>
  <wsdl:message name="RedeemIssuedRewardExtSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemIssuedRewardExt" />
  </wsdl:message>
  <wsdl:message name="RedeemIssuedRewardExtSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemIssuedRewardExtResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseRewardRedemptionSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseRewardRedemption" />
  </wsdl:message>
  <wsdl:message name="ReverseRewardRedemptionSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseRewardRedemptionResponse" />
  </wsdl:message>
  <wsdl:message name="CancelIssuedRewardSoapIn">
    <wsdl:part name="parameters" element="tns:CancelIssuedReward" />
  </wsdl:message>
  <wsdl:message name="CancelIssuedRewardSoapOut">
    <wsdl:part name="parameters" element="tns:CancelIssuedRewardResponse" />
  </wsdl:message>
  <wsdl:message name="CancelIssuedRewardExtSoapIn">
    <wsdl:part name="parameters" element="tns:CancelIssuedRewardExt" />
  </wsdl:message>
  <wsdl:message name="CancelIssuedRewardExtSoapOut">
    <wsdl:part name="parameters" element="tns:CancelIssuedRewardExtResponse" />
  </wsdl:message>
  <wsdl:message name="RetIssuedRewardStatusSoapIn">
    <wsdl:part name="parameters" element="tns:RetIssuedRewardStatus" />
  </wsdl:message>
  <wsdl:message name="RetIssuedRewardStatusSoapOut">
    <wsdl:part name="parameters" element="tns:RetIssuedRewardStatusResponse" />
  </wsdl:message>
  <wsdl:message name="RetIssuedRewardStatusExtSoapIn">
    <wsdl:part name="parameters" element="tns:RetIssuedRewardStatusExt" />
  </wsdl:message>
  <wsdl:message name="RetIssuedRewardStatusExtSoapOut">
    <wsdl:part name="parameters" element="tns:RetIssuedRewardStatusExtResponse" />
  </wsdl:message>
  <wsdl:message name="RetIssuedRewardDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:RetIssuedRewardDetails" />
  </wsdl:message>
  <wsdl:message name="RetIssuedRewardDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:RetIssuedRewardDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateVariableRewardAmountSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateVariableRewardAmount" />
  </wsdl:message>
  <wsdl:message name="ValidateVariableRewardAmountSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateVariableRewardAmountResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateRewardExternalReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateRewardExternalReference" />
  </wsdl:message>
  <wsdl:message name="ValidateRewardExternalReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateRewardExternalReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IssueVariableRewardSoapIn">
    <wsdl:part name="parameters" element="tns:IssueVariableReward" />
  </wsdl:message>
  <wsdl:message name="IssueVariableRewardSoapOut">
    <wsdl:part name="parameters" element="tns:IssueVariableRewardResponse" />
  </wsdl:message>
  <wsdl:message name="IssueChoiceRewardSoapIn">
    <wsdl:part name="parameters" element="tns:IssueChoiceReward" />
  </wsdl:message>
  <wsdl:message name="IssueChoiceRewardSoapOut">
    <wsdl:part name="parameters" element="tns:IssueChoiceRewardResponse" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSoapIn">
    <wsdl:part name="parameters" element="tns:MemberIssuedRewards" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSoapOut">
    <wsdl:part name="parameters" element="tns:MemberIssuedRewardsResponse" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsSoapIn">
    <wsdl:part name="parameters" element="tns:MemberPendingRewards" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsSoapOut">
    <wsdl:part name="parameters" element="tns:MemberPendingRewardsResponse" />
  </wsdl:message>
  <wsdl:message name="RedeemPendingRewardSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemPendingReward" />
  </wsdl:message>
  <wsdl:message name="RedeemPendingRewardSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemPendingRewardResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseRewardRedemptionToPendingSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseRewardRedemptionToPending" />
  </wsdl:message>
  <wsdl:message name="ReverseRewardRedemptionToPendingSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseRewardRedemptionToPendingResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseRewardRedemptionsToPendingSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseRewardRedemptionsToPending" />
  </wsdl:message>
  <wsdl:message name="ReverseRewardRedemptionsToPendingSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseRewardRedemptionsToPendingResponse" />
  </wsdl:message>
  <wsdl:message name="IssueChoiceRewardAsPendingSoapIn">
    <wsdl:part name="parameters" element="tns:IssueChoiceRewardAsPending" />
  </wsdl:message>
  <wsdl:message name="IssueChoiceRewardAsPendingSoapOut">
    <wsdl:part name="parameters" element="tns:IssueChoiceRewardAsPendingResponse" />
  </wsdl:message>
  <wsdl:message name="PickupPendingRewardSoapIn">
    <wsdl:part name="parameters" element="tns:PickupPendingReward" />
  </wsdl:message>
  <wsdl:message name="PickupPendingRewardSoapOut">
    <wsdl:part name="parameters" element="tns:PickupPendingRewardResponse" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsSetSoapIn">
    <wsdl:part name="parameters" element="tns:MemberPendingRewardsSet" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsSetSoapOut">
    <wsdl:part name="parameters" element="tns:MemberPendingRewardsSetResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseRewardRedemptionsToPendingSetSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseRewardRedemptionsToPendingSet" />
  </wsdl:message>
  <wsdl:message name="ReverseRewardRedemptionsToPendingSetSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseRewardRedemptionsToPendingSetResponse" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetSoapIn">
    <wsdl:part name="parameters" element="tns:MemberIssuedRewardsSet" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetSoapOut">
    <wsdl:part name="parameters" element="tns:MemberIssuedRewardsSetResponse" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsExtSoapIn">
    <wsdl:part name="parameters" element="tns:MemberIssuedRewardsExt" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsExtSoapOut">
    <wsdl:part name="parameters" element="tns:MemberIssuedRewardsExtResponse" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetExtSoapIn">
    <wsdl:part name="parameters" element="tns:MemberIssuedRewardsSetExt" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetExtSoapOut">
    <wsdl:part name="parameters" element="tns:MemberIssuedRewardsSetExtResponse" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsHttpGetIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="LoyaltyProgramId" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsHttpGetOut">
    <wsdl:part name="Body" element="tns:respMemberIssuedRewards" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsHttpGetIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsHttpGetOut">
    <wsdl:part name="Body" element="tns:respMemberPendingRewards" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsSetHttpGetIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsSetHttpGetOut">
    <wsdl:part name="Body" element="tns:respMemberPendingRewardsSet" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetHttpGetIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="LoyaltyProgramId" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetHttpGetOut">
    <wsdl:part name="Body" element="tns:respMemberIssuedRewardsSet" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsExtHttpGetIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="LoyaltyProgramId" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsExtHttpGetOut">
    <wsdl:part name="Body" element="tns:respMemberIssuedRewardsExt" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetExtHttpGetIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="LoyaltyProgramId" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetExtHttpGetOut">
    <wsdl:part name="Body" element="tns:respMemberIssuedRewardsSetExt" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsHttpPostIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="LoyaltyProgramId" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsHttpPostOut">
    <wsdl:part name="Body" element="tns:respMemberIssuedRewards" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsHttpPostIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsHttpPostOut">
    <wsdl:part name="Body" element="tns:respMemberPendingRewards" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsSetHttpPostIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberPendingRewardsSetHttpPostOut">
    <wsdl:part name="Body" element="tns:respMemberPendingRewardsSet" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetHttpPostIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="LoyaltyProgramId" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetHttpPostOut">
    <wsdl:part name="Body" element="tns:respMemberIssuedRewardsSet" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsExtHttpPostIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="LoyaltyProgramId" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsExtHttpPostOut">
    <wsdl:part name="Body" element="tns:respMemberIssuedRewardsExt" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetExtHttpPostIn">
    <wsdl:part name="SecurityToken" type="s:string" />
    <wsdl:part name="LoyaltyProgramId" type="s:string" />
    <wsdl:part name="AccountId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MemberIssuedRewardsSetExtHttpPostOut">
    <wsdl:part name="Body" element="tns:respMemberIssuedRewardsSetExt" />
  </wsdl:message>
  <wsdl:portType name="RewardSoap">
    <wsdl:operation name="RedeemIssuedReward">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Performs a Reward Redemption on a Issued Reward</wsdl:documentation>
      <wsdl:input message="tns:RedeemIssuedRewardSoapIn" />
      <wsdl:output message="tns:RedeemIssuedRewardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemIssuedRewardExt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Performs a Reward Redemption on a Issued Reward</wsdl:documentation>
      <wsdl:input message="tns:RedeemIssuedRewardExtSoapIn" />
      <wsdl:output message="tns:RedeemIssuedRewardExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemption">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Performs a Reversal Reward Redemption on a Issued Reward</wsdl:documentation>
      <wsdl:input message="tns:ReverseRewardRedemptionSoapIn" />
      <wsdl:output message="tns:ReverseRewardRedemptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelIssuedReward">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Performs a Reward Cancellation on a Issued Reward</wsdl:documentation>
      <wsdl:input message="tns:CancelIssuedRewardSoapIn" />
      <wsdl:output message="tns:CancelIssuedRewardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelIssuedRewardExt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Performs a Reward Cancellation on a Issued Reward</wsdl:documentation>
      <wsdl:input message="tns:CancelIssuedRewardExtSoapIn" />
      <wsdl:output message="tns:CancelIssuedRewardExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_RetIssueRewardStatus.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:RetIssuedRewardStatusSoapIn" />
      <wsdl:output message="tns:RetIssuedRewardStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardStatusExt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_RetIssueRewardStatusExt.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:RetIssuedRewardStatusExtSoapIn" />
      <wsdl:output message="tns:RetIssuedRewardStatusExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_RetIssuedRewardDetails.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:RetIssuedRewardDetailsSoapIn" />
      <wsdl:output message="tns:RetIssuedRewardDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVariableRewardAmount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates the Cost of a Variable Reward</wsdl:documentation>
      <wsdl:input message="tns:ValidateVariableRewardAmountSoapIn" />
      <wsdl:output message="tns:ValidateVariableRewardAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateRewardExternalReference">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates a Reward External Reference</wsdl:documentation>
      <wsdl:input message="tns:ValidateRewardExternalReferenceSoapIn" />
      <wsdl:output message="tns:ValidateRewardExternalReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IssueVariableReward">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Issue a Variable Reward</wsdl:documentation>
      <wsdl:input message="tns:IssueVariableRewardSoapIn" />
      <wsdl:output message="tns:IssueVariableRewardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IssueChoiceReward">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Issue a Choice Reward</wsdl:documentation>
      <wsdl:input message="tns:IssueChoiceRewardSoapIn" />
      <wsdl:output message="tns:IssueChoiceRewardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewards">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsSoapIn" />
      <wsdl:output message="tns:MemberIssuedRewardsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewards">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberPendingRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberPendingRewardsSoapIn" />
      <wsdl:output message="tns:MemberPendingRewardsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemPendingReward">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_RedeemPendingReward.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:RedeemPendingRewardSoapIn" />
      <wsdl:output message="tns:RedeemPendingRewardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionToPending">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_ReverseRewardRedemptionToPending.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:ReverseRewardRedemptionToPendingSoapIn" />
      <wsdl:output message="tns:ReverseRewardRedemptionToPendingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionsToPending">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_ReverseRewardRedemptionsToPending.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:ReverseRewardRedemptionsToPendingSoapIn" />
      <wsdl:output message="tns:ReverseRewardRedemptionsToPendingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IssueChoiceRewardAsPending">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Issue a Choice Reward</wsdl:documentation>
      <wsdl:input message="tns:IssueChoiceRewardAsPendingSoapIn" />
      <wsdl:output message="tns:IssueChoiceRewardAsPendingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PickupPendingReward">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_PickupPendingReward.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:PickupPendingRewardSoapIn" />
      <wsdl:output message="tns:PickupPendingRewardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewardsSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberPendingRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberPendingRewardsSetSoapIn" />
      <wsdl:output message="tns:MemberPendingRewardsSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionsToPendingSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_ReverseRewardRedemptionsToPending.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:ReverseRewardRedemptionsToPendingSetSoapIn" />
      <wsdl:output message="tns:ReverseRewardRedemptionsToPendingSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsSetSoapIn" />
      <wsdl:output message="tns:MemberIssuedRewardsSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsExt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewardsExt.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsExtSoapIn" />
      <wsdl:output message="tns:MemberIssuedRewardsExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSetExt">
      <wsdl:input message="tns:MemberIssuedRewardsSetExtSoapIn" />
      <wsdl:output message="tns:MemberIssuedRewardsSetExtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RewardHttpGet">
    <wsdl:operation name="MemberIssuedRewards">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsHttpGetIn" />
      <wsdl:output message="tns:MemberIssuedRewardsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewards">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberPendingRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberPendingRewardsHttpGetIn" />
      <wsdl:output message="tns:MemberPendingRewardsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewardsSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberPendingRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberPendingRewardsSetHttpGetIn" />
      <wsdl:output message="tns:MemberPendingRewardsSetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsSetHttpGetIn" />
      <wsdl:output message="tns:MemberIssuedRewardsSetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsExt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewardsExt.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsExtHttpGetIn" />
      <wsdl:output message="tns:MemberIssuedRewardsExtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSetExt">
      <wsdl:input message="tns:MemberIssuedRewardsSetExtHttpGetIn" />
      <wsdl:output message="tns:MemberIssuedRewardsSetExtHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RewardHttpPost">
    <wsdl:operation name="MemberIssuedRewards">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsHttpPostIn" />
      <wsdl:output message="tns:MemberIssuedRewardsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewards">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberPendingRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberPendingRewardsHttpPostIn" />
      <wsdl:output message="tns:MemberPendingRewardsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewardsSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberPendingRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberPendingRewardsSetHttpPostIn" />
      <wsdl:output message="tns:MemberPendingRewardsSetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewards.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsSetHttpPostIn" />
      <wsdl:output message="tns:MemberIssuedRewardsSetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsExt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Click Here For &lt;a href='/Services/Docs/Reward/Reward_MemberIssuedRewardsExt.htm'&gt; Method Documentation&lt;/a&gt;</wsdl:documentation>
      <wsdl:input message="tns:MemberIssuedRewardsExtHttpPostIn" />
      <wsdl:output message="tns:MemberIssuedRewardsExtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSetExt">
      <wsdl:input message="tns:MemberIssuedRewardsSetExtHttpPostIn" />
      <wsdl:output message="tns:MemberIssuedRewardsSetExtHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RewardSoap" type="tns:RewardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RedeemIssuedReward">
      <soap:operation soapAction="https://app.smartbutton.com/Services/RedeemIssuedReward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemIssuedRewardExt">
      <soap:operation soapAction="https://app.smartbutton.com/Services/RedeemIssuedRewardExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemption">
      <soap:operation soapAction="https://app.smartbutton.com/Services/ReverseRewardRedemption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelIssuedReward">
      <soap:operation soapAction="https://app.smartbutton.com/Services/CancelIssuedReward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelIssuedRewardExt">
      <soap:operation soapAction="https://app.smartbutton.com/Services/CancelIssuedRewardExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardStatus">
      <soap:operation soapAction="https://app.smartbutton.com/Services/RetIssuedRewardStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardStatusExt">
      <soap:operation soapAction="https://app.smartbutton.com/Services/RetIssuedRewardStatusExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardDetails">
      <soap:operation soapAction="https://app.smartbutton.com/Services/RetIssuedRewardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVariableRewardAmount">
      <soap:operation soapAction="https://app.smartbutton.com/Services/ValidateVariableRewardAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRewardExternalReference">
      <soap:operation soapAction="https://app.smartbutton.com/Services/ValidateRewardExternalReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueVariableReward">
      <soap:operation soapAction="https://app.smartbutton.com/Services/IssueVariableReward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueChoiceReward">
      <soap:operation soapAction="https://app.smartbutton.com/Services/IssueChoiceReward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewards">
      <soap:operation soapAction="https://app.smartbutton.com/Services/MemberIssuedRewards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewards">
      <soap:operation soapAction="https://app.smartbutton.com/Services/MemberPendingRewards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemPendingReward">
      <soap:operation soapAction="https://app.smartbutton.com/Services/RedeemPendingReward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionToPending">
      <soap:operation soapAction="https://app.smartbutton.com/Services/ReverseRewardRedemptionToPending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionsToPending">
      <soap:operation soapAction="https://app.smartbutton.com/Services/ReverseRewardRedemptionsToPending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueChoiceRewardAsPending">
      <soap:operation soapAction="https://app.smartbutton.com/Services/IssueChoiceRewardAsPending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickupPendingReward">
      <soap:operation soapAction="https://app.smartbutton.com/Services/PickupPendingReward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewardsSet">
      <soap:operation soapAction="https://app.smartbutton.com/Services/MemberPendingRewardsSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionsToPendingSet">
      <soap:operation soapAction="https://app.smartbutton.com/Services/ReverseRewardRedemptionsToPendingSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSet">
      <soap:operation soapAction="https://app.smartbutton.com/Services/MemberIssuedRewardsSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsExt">
      <soap:operation soapAction="https://app.smartbutton.com/Services/MemberIssuedRewardsExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSetExt">
      <soap:operation soapAction="https://app.smartbutton.com/Services/MemberIssuedRewardsSetExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RewardSoap12" type="tns:RewardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RedeemIssuedReward">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/RedeemIssuedReward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemIssuedRewardExt">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/RedeemIssuedRewardExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemption">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/ReverseRewardRedemption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelIssuedReward">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/CancelIssuedReward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelIssuedRewardExt">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/CancelIssuedRewardExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardStatus">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/RetIssuedRewardStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardStatusExt">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/RetIssuedRewardStatusExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetIssuedRewardDetails">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/RetIssuedRewardDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVariableRewardAmount">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/ValidateVariableRewardAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateRewardExternalReference">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/ValidateRewardExternalReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueVariableReward">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/IssueVariableReward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueChoiceReward">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/IssueChoiceReward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewards">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/MemberIssuedRewards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewards">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/MemberPendingRewards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemPendingReward">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/RedeemPendingReward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionToPending">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/ReverseRewardRedemptionToPending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionsToPending">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/ReverseRewardRedemptionsToPending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueChoiceRewardAsPending">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/IssueChoiceRewardAsPending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickupPendingReward">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/PickupPendingReward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewardsSet">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/MemberPendingRewardsSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseRewardRedemptionsToPendingSet">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/ReverseRewardRedemptionsToPendingSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSet">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/MemberIssuedRewardsSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsExt">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/MemberIssuedRewardsExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSetExt">
      <soap12:operation soapAction="https://app.smartbutton.com/Services/MemberIssuedRewardsSetExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RewardHttpGet" type="tns:RewardHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="MemberIssuedRewards">
      <http:operation location="/MemberIssuedRewards" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewards">
      <http:operation location="/MemberPendingRewards" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewardsSet">
      <http:operation location="/MemberPendingRewardsSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSet">
      <http:operation location="/MemberIssuedRewardsSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsExt">
      <http:operation location="/MemberIssuedRewardsExt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSetExt">
      <http:operation location="/MemberIssuedRewardsSetExt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RewardHttpPost" type="tns:RewardHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="MemberIssuedRewards">
      <http:operation location="/MemberIssuedRewards" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewards">
      <http:operation location="/MemberPendingRewards" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberPendingRewardsSet">
      <http:operation location="/MemberPendingRewardsSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSet">
      <http:operation location="/MemberIssuedRewardsSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsExt">
      <http:operation location="/MemberIssuedRewardsExt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberIssuedRewardsSetExt">
      <http:operation location="/MemberIssuedRewardsSetExt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reward">
    <wsdl:port name="RewardSoap" binding="tns:RewardSoap">
      <soap:address location="https://ca.smartbutton.com/Services/Reward.asmx" />
    </wsdl:port>
    <wsdl:port name="RewardSoap12" binding="tns:RewardSoap12">
      <soap12:address location="https://ca.smartbutton.com/Services/Reward.asmx" />
    </wsdl:port>
    <wsdl:port name="RewardHttpGet" binding="tns:RewardHttpGet">
      <http:address location="https://ca.smartbutton.com/Services/Reward.asmx" />
    </wsdl:port>
    <wsdl:port name="RewardHttpPost" binding="tns:RewardHttpPost">
      <http:address location="https://ca.smartbutton.com/Services/Reward.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>